/* error */

#error {
    background-image: url('../images/Alaska.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#error>p:nth-child(1) {
    text-align: center;
    text-shadow: 0 5px 5px white;
    font-size: 2.5em;
    font-weight: bolder;
}

#error>p.nav-fluid.startChapter>a {
    margin-bottom: 2vw;
    background-color: #4e4a3f;
}


/* header */

#nav {
    background-color: #681700;
}

body>header>div>div>div>nav>ul>li {
    background-color: #4e4a3f;
    border: 2px solid #FFC312;
    margin-right: 15px;
}

#slide>div {
    background-color: transparent;
}

body>header>div>div>div>nav>ul>li {
    color: white;
}

body>header>div>div>div>nav>ul>li:hover {
    background-color: black;
}

body>header>div>div>div>nav>ul>li>a {
    color: white;
    text-shadow: none;
}

body>header>div>div>div>nav>ul>li>a:hover {
    color: #FFC312;
}

#slide {
    background-color: #681700;

}

#slide>div {
    background-color: transparent;
}

h1 {
    text-align: center;
    text-shadow: 0 5px 5px black;
    color: white;
}


/* home */

.container {
    max-width: 99.98vw;
}

#home {
    background-image: url('../images/Books.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#home>.home>h2 {

    color: white;
    text-align: center;
    padding-top: 5vw;
    text-shadow: 0 5px 5px black;
    height: 17vw;
}

.bookClosed {
    text-align: center;
}

.startChapter {
    display: flex;
    justify-content: space-around;
    margin: 5vw;
}

#home>div>div>p.nav-fluid.startChapter>a {
    background-color: #681700;
    margin-bottom: 15vw;
    border: 2px solid #FFC312;
}

#home>div>div>p.nav-fluid.startChapter>a:hover {
    background-color: #681700;
}

#home>div>div>p:nth-child(1) {
    font-size: 1.3em;
    line-height: inherit;
    text-align: justify;
    color: white;
    text-shadow: 0 5px 5px black;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 7vw;
    padding: 5vw;
}

/* chapter view */

body>main>div.container>div:nth-child(1)>article.col-lg-8.chapter {
    padding: 65px;
    word-wrap: break-word;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-bottom: 10vw;
}

.page-item>a {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 5px 5px black;
}

.my-4 {
    margin-left: 10vw;
    margin-right: 10vw;
}

.page-item {
    margin: auto;
}

.page-item>a:hover {
    color: #681700;
}

.page-link {
    border: none;
    padding-top: 0.3rem;
    padding-right: 0.55rem;
    padding-bottom: 0.3rem;
    padding-left: 0.55rem;
    background-color: #e9ecef;
    bottom: 0.5rem;
}

.display-4,
h4 {
    text-align: center;
    color: #FFC312;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: #681700 2.5px 2.5px 0,
        #8338ec 5px 5px 0,
        #333 10px 10px 10px;
}



/* chat */

#chat_window_1 {
    background: #e9ecef;
    margin: 0;
    overflow-x: hidden;
    max-height: 1200px;
    border-radius: 5px;
    margin-bottom: 10vw;
}

.top-bar {
    background: #4e4a3f;
    border-radius: 5px 5px 0 0;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.panel-title {
    text-align: center;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.avatar {
    position: relative;
    margin-bottom: 10px;
}

img {
    display: block;
    width: 100%;
}

.col-md-2,
.col-md-10 {
    padding: 0;
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin-bottom: 10px;
}

.msg_receive {
    margin-left: 0;
}

.messages>p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.messages>time {
    font-size: 11px;
    color: #ccc;
}

.phantomButtom {
    visibility: hidden;
}

.msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}

.panel-footer {
    background-color: #5f5d5d;
    width: 100%;
    padding: 10px;
}

#btn-chat {
    background-color: #681700;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}

#btn-chat:hover {
    background-color: #FFC312;
    color: black;
    border-color: #FFC312;
}

.btn-primary {
    width: 100px;
    border: 2px solid #FFC312;
    border-radius: 2px;
}

.btn-danger {
    background-color: black;
    border-color: black;
}

.btn-danger:hover {
    background-color: #681700;
    border-color: #681700;
}


#autor {
    margin-top: 10px;
}

/* admin header */


.imgTyp {
    width: 12vw;
    float: left;
    margin-left: 20vw;
    margin-right: 7vw;
}


h5 {
    margin-left: 7vw;
    font-size: 2em;
    text-shadow: 0 2px 2px;
}


/* edit view */

#numChapter {
    display: none;
}

a:hover {
    text-decoration: none;
}

.titleName {
    font-size: 1.7em;
    text-shadow: 0 5px 5px;
}

.backEnd {
    margin-left: 5vw;
    width: 90vw;
}

#document {
    height: auto;
}

textarea {
    height: 650px;
}

#edit>div>form>div.editDel>input,
#moderate>div>form>div.editDel>input {
    background-color: #681700;
    color: white;
    border: 2px solid #FFC312;
}

#edit>div>form>div.editDel>button,
#exampleModal>div>div>div.modal-footer>form>input,
#supComBtn,
#sup {
    background-color: #333;
    border: 2px solid #FFC312;
    color: white;
    border-radius: 2px;
    height: 40px;
}

/* commentView */

.comment {
    text-align: justify;
    background-color: #e9ecef;
    padding: 2vw;
    border: 2px solid #681700;
    border-radius: 5px;
    margin: 1vw;
    margin-top: 2vw;
}

#manageComment>form:nth-child(2)>input.phantomButtom {
    display: none;
}

#manageComment {
    display: flex;
    width: 250px;
}

body>main>section:nth-child(3)>div>div {
    display: block;
}

#modif,
#accept {
    background-color: #681700;
    color: white;
    border: 2px solid #FFC312;
}

#accept {
    background-color: #FFC312;
    border: 2px solid #e9ecef;
}


/* author */
.containerLogAuthor {
    display: flex;
    width: 98vw;
    margin-top: -2vw;
}

body>main>div>div>aside>div.card-body>form>div:nth-child(1),
body>main>div>div>aside>div.card-body>form>div:nth-child(2),
body>main>div>div>aside>div.card-body>form>div:nth-child(3),
body>main>div>div>aside>div.card-body>form>div:nth-child(4) {
    width: 51vw;
}

.separate {
    border: 7px;
}

body>main>div>div>aside>aside>img {
    width: 75%;
    margin-bottom: 1vw;
}

body>main>div>div>aside>aside {
    display: flex;
}

body>main>div.containerLogAuthor>div>aside>aside>div>h4 {
    text-decoration: underline overline #ffc312;
}

/* login */

.card {
    border: none;
}

.login {
    background-image: url('../images/Apple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2.5vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    width: 94vw;
}

.card-header h5 {
    color: white;
}

.card-body {
    margin-left: 80px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

body>main>div>div>aside>div.card-footer>div {
    flex-direction: column;
    margin-left: 2.2vw;
}

.links {
    color: white;
}

.links a {
    color: white;
    background-color: #681700;
    border: 2px solid #FFC312;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    width: 175px;
    text-align: center;
}

body>main>div>div>aside>aside {
    margin-left: 2.2vw;
}

body>main>div>div>aside>aside>div {
    color: white;
}



/* footer */

.nav {
    align-items: center;
    flex-wrap: nowrap;
}

body>footer {
    background-color: #681700;
    color: white;
    font-size: 1em;
    height: 8vw;
    position: relative;
}

.footer {
    text-align: center;
}

body>footer>div>p.float-right>a {
    color: white;
    margin-right: 5.2vw;
}

body>footer>div>p.float-right>a:hover {
    font-weight: bold;
    color: #FFC312;
}

/* part to the manage view */

#edit>div>form>div.editDel>form>input {
    background-color: black;
    color: white;
}


.editDel {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#write>div {
    margin-top: 100px;
}

/* media queries */

@media screen and (max-width: 760px) {

    body>main>div:nth-child(3)>div>aside>aside {
        flex-direction: column;
    }

    body>footer {
        height: 20vw;
    }

}

@media screen and (max-width: 425px) {
    body>main>div>div>aside>aside {
        flex-direction: column;
    }

    .nav-link {
        padding: 2px;
    }

    body>header>div>div>div>nav>ul>li {
        margin-right: 15px;
    }

    .comment {
        display: block;
    }

    .imgTyp {
        display: none;
    }

    h4 {
        font-size: 2rem;
    }

    .card-body {
        margin-left: 0px;
    }

    body>main>div>div>aside>div.card-body>form>div:nth-child(1),
    body>main>div>div>aside>div.card-body>form>div:nth-child(2),
    body>main>div>div>aside>div.card-body>form>div:nth-child(3),
    body>main>div>div>aside>div.card-body>form>div:nth-child(4) {
        width: 53vw;
    }

}


@media screen and (max-width: 320px) {

    body>header>div>div>div>nav>ul>li {
        margin-right: 5px;
    }
}