/* header */
.navbar {
    background-color: black;
    color: white;
    text-shadow: 0 5px 5px white;
}

body>header>div>div>div>nav>ul>li {
    background-color: #4e4a3f;
}

body>header>div>div>div>nav>ul>li.nav-item.nav-link.active {
    background-color: #681700;
    color: white;
}

body>header>div>div>div>nav>ul>li:hover {
    background-color: black;
}

body>header>div>div>div>nav>ul>li>a {
    color: white;
    text-shadow: none;
}

body>header>div>div>div>nav>ul>li>a:hover {
    color: #FFC312;
}


#slide {
    background-image: url('../images/Alaska.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#slide>div {
    background-color: transparent;
}

h1 {
    text-align: center;
    text-shadow: 0 5px 5px white;
}

#slide>div>p {
    text-align: center;
}

/* home */
#home>.home>h2 {
    background-image: url('../images/Books.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 0 5px 5px white;
    height: 17vw;
}

.bookClosed {
    text-align: center;
}

#home>div>article>p>a {
    background-color: #681700;
    color: white;
    align-self: right;
}

.startChapter {
    display: flex;
    justify-content: space-between;
    background-color: #4e4a3f;
    border: 17px solid black;
}

/* chapter */

body>main>div.container>div>article {
    background-image: url('../images/Book.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 65px;
    word-wrap: break-word;
    border-right: 5px solid #681700;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 5px 5px black;
    margin-left: 10vw;
    margin-top: 2vw;
}

.my-4 {
    margin-left: 10vw;
    margin-right: 10vw;
}

.nav_chapter {
    margin-left: 10vw;
}

.page-item>a {
    color: #681700;
}

.page-item>a:active {
    background-color: #681700;
    color: white;
}

.page-item>a:hover {
    background-color: #4e4a3f;
    color: white;
}

.page-link {
    border: none;
    padding-top: 0.3rem;
    padding-right: 0.55rem;
    padding-bottom: 0.3rem;
    padding-left: 0.55rem;
}

.lead {
    margin-left: 10vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
    font-weight: bold;
}


/* chat */
body>main>div.container>div>div {
    background-color: #fdfcfc;
}

#chat_window_1>div {
    border: 10px solid black;
    border-radius: 5px;
}

.col-md-2,
.col-md-10 {
    padding: 0;
}

.icon_minim {
    padding: 2px 10px;
}

.msg_container_base {
    background: #dcd8d5;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 300px;
    overflow-x: hidden;
}

.top-bar {
    background: #4e4a3f;
    border-radius: 5px 5px 0 0;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

#chat_window_1>div>div.panel-heading.top-bar>div>h3 {
    font-size: 0.95rem;
}

.msg_receive {
    padding-left: 0;
    margin-left: 0;
}

.msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.messages>p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.messages>time {
    font-size: 11px;
    color: #ccc;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

img {
    display: block;
    width: 100%;
}

.avatar {
    position: relative;
}

.base_receive>.avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(117, 23, 23, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.base_sent>.avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
}

.btn-primary {
    color: black;
    background-color: #FFC312;
    width: 100px;
    border-color: #FFC312;
}

.btn-primary:hover {
    background-color: #681700;
    border-color: #681700;
}

.btn-danger {
    background-color: black;
    border-color: black;
}

.btn-danger:hover {
    background-color: #681700;
    border-color: #681700;
}


#chat_window_1>div>div.panel-footer {
    background: black;
}

.btn-group.dropup {
    position: fixed;
    left: 0px;
    bottom: 0;
}

#btn-chat {
    background-color: #681700;
    color: white;
}

#btn-chat:hover {
    background-color: #FFC312;
    color: black;
}

/* commentView */

.comment {
    text-align: center;
}

/* author */
.containerLogAuthor {
    display: flex;
    width: 98.5vw;
}

.separate {
    border: 7px;
}

body>main>div.containerLogAuthor>div>aside>aside>div>h4 {
    text-decoration: underline overline #FFC312;
}

/* login */

.card {
    border: none;
}

.login {
    background-image: url('../images/Apple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-header h5 {
    color: white;
}


.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
    color: #681700;
}




/* footer */

body>footer {
    background-color: #681700;
    color: white;
    font-size: 1em;
    height: 5vw;

    position: relative;
}

.footer {
    text-align: center;
}

body>footer>div>p.float-right>a {
    color: white;
}

body>footer>div>p.float-right>a:hover {
    font-weight: bold;
    color: #FFC312;
}

/* part to the manage view */

#edit>div>form>div.editDel>form>input {
    background-color: black;
    color: white;
}

.editDel {
    display: flex;
    justify-content: space-between;
}

/* media queries */

@media screen and (max-width: 760px) {
    body>main>div:nth-child(3)>div>aside>aside {
        flex-direction: column;
    }

}